<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Belangrijke mededeling</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>

    <!-- use the font -->
    <style>
        #body {
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #343C3C;
            color: white;
            font-size: 14px;
            padding-bottom: 30px;
        }

        #header {
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
            box-sizing: border-box;
            background-color: black;
        }

        #sub_header {
            height: 20px;
            line-height: 20px;
            background-color: rgba(34, 34, 34, 1);
            border: 1px solid rgba(48, 86, 119, 1);
            border-top: 0;
            margin: 0 15px 15px;
            border-radius: 0 0 4px 4px;
            overflow: hidden;
            padding: 15px;
        }

        #mail_content {
            min-height: 1px;
            padding-left: 15px;
            padding-right: 15px;
            margin-left: 15px;
            margin-right: 15px;
            position: relative;
            box-sizing: border-box;
            background-color: rgba(34, 34, 34, 1);
            border: 1px solid rgba(48, 86, 119, 1);
            border-radius: 4px;

        }
    </style>
</head>
<body>
<div id="body">
    <div id="header">
        <img th:src="${'data:image/png;base64,' + logo}" alt="promoQservice" style="display: block;"/>
    </div>
    <div id="sub_header" th:text="${header}">
    </div>

    <div id="mail_content">
        <p th:text="${salutation}"></p>
        <p th:remove="tag" th:utext="${content}"></p>
    </div>

</div>
</body>
</html>